[Unit]
Description=PyMeterReader
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=www-data
PermissionsStartOnly=true
ExecStart={}

[Install]
WantedBy=multi-user.target
